@page
@model TestWeb.Pages.PageModel
@addTagHelper *, TestWeb
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Page</title>
</head>
<body>
    <ld-button>我的按钮</ld-button>
    @await Component.InvokeAsync("LDView", "你好")
</body>
</html>